<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/shop.css">
</head>

<body>
    <!-- 购物车 -->
    <div id="shopping-cart" class="page-shopping-cart">
        <h4 class="cart-title">购物清单</h4>
        <!-- 标题 -->
        <div class="cart-product-title clearfix">
            <div class="td-check fl">
                <!-- 当切换到check-true类名时就调用全选函数 -->
                <span class="check-span fl check-all" :class="{'check-true':isSelectAll}" @click="selectProduct(isSelectAll)"></span> <!-- 选择框 -->
                全选
            </div>
            <div class="td-product fl">商品</div>
            <div class="td-num fl">数量</div>
            <div class="td-price fl">单价(元)</div>
            <div class="td-total fl">金额(元)</div>
            <div class="td-do fl">操作</div>
        </div>
        <!-- 内容 -->
        <div class="cart-product clearfix">
            <table>
                <tbody>
                    <tr v-for='(item,index) in productList'>
                        <td class="td-check">
                            <span class="check-span" @click='item.select=!item.select' :class="{'check-true':item.select}"></span>
                        </td>
                        <td class="td-product">
                            <img :src="item.pro_img" width="98" height="98" alt="">
                            <div class="product-info">
                                <h6>{{item.pro_name}}</h6>
                                <p>品牌：{{item.pro_brand}}&nbsp;&nbsp;{{item.pro_place}}</p>
                                <p>规格/纯度:{{item.pro_purity}}&nbsp;&nbsp;起定量：{{item.pro_min}}</p>
                                <p>配送仓储：{{item.pro_depot}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                        <td class="td-num">
                            <div class="product-num">
                                <a href="javascript:;" class="num-reduce num-do fl" @click='item.pro_num--'><span></span></a>
                                <input type="text" class="num-input" v-model='item.pro_num'>
                                <a href="javascript:;" class="num-add num-do fr" @click='item.pro_num++'><span></span></a>
                            </div>
                        </td>
                        <td class="td-price">
                            <p class="red-text">￥<span class="price-text">{{item.pro_price.toFixed(2)}}</span>.00</p>
                        </td>
                        <td class="td-total">
                            <p class="red-text">￥<span class="price-text">{{item.pro_price*item.pro_num}}</span>.00</p>
                        </td>
                        <td class="td-do">
                            <a href="javascript:;" class="product-delete" @click='deleteOneProduct(index)'>删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 最后一行统计 -->
        <div class="cart-product-info">
            <a href="javascript:;" class="delete-product" @click='deleteProduct'><span></span>删除所选商品</a>
            <a href="#" class="keep-shopping"><span></span>继续购物</a>
            <a href="javascript:;" class="fr btn-buy">去结算</a>
            <a href="javascript:;" class="fr product-total">￥<span>{{getTotal.totalPrice}}</span></a>
            <a href="javascript:;" class="fr check-num"><span>{{getTotal.totalNum}}</span>件商品总计（不含运费）:</a>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
    new Vue({
        el: '#shopping-cart',
        data: {
            productList: [
                {
                    'pro_name': '【斯文】甘油|丙三醇',
                    'pro_brand': 'skc',
                    'pro_place': '韩国',
                    'pro_purity': '99.7%',
                    'pro_min': '215千克',
                    'pro_depot': '上海沧海仓储',
                    'pro_num': 3,
                    'pro_img': 'testimg.jpg',
                    'pro_price': 800
                },
                {
                    'pro_name': '【斯文】甘油|丙三醇',
                    'pro_brand': 'skc',
                    'pro_place': '韩国',
                    'pro_purity': '99.7%',
                    'pro_min': '215千克',
                    'pro_depot': '上海沧海仓储',
                    'pro_num': 1,
                    'pro_img': 'testimg.jpg',
                    'pro_price': 700
                }
            ]
        },
        computed: {
            // 检测是否全选
            isSelectAll: function() {
                //如果productList中每一条数据的select都为true,就返回true,否则返回false
                return this.productList.every(function(val) { return val.select })
            },
            // 获取总价和产品总数
            getTotal: function() {
                // 获取list中select为true的数据
                var _proList = this.productList.filter(function(val) { return val.select }),
                    totalPrice = 0;
                for (var i = 0; i < _proList.length; i++) {
                    // 总价累加
                    totalPrice += _proList[i].pro_num * _proList[i].pro_price;
                }
                // 选择产品的件数就是_proList.lenth，总价就是totalPrice
                return { totalNum: _proList.length, totalPrice: totalPrice }
            }
        },
        methods: {
            // 全选与取消全选
            selectProduct: function(_isSelect) {
                //遍历productList,全部取反
                for (var i = 0; i < this.productList.length; i++) {
                    this.productList[i].select = !_isSelect
                }
            },
            //删除选中的产品
            deleteProduct: function() {
                this.productList = this.productList.filter(function(item) { return !item.select })
            },
            //删除单条产品
            deleteOneProduct: function(index) {
                //根据索引删除productList的记录
                this.productList.splice(index, 1);
            },
        },
        mounted: function() {
            //为productList添加select（是否选中字段，初始值为true）
            var _this = this;
            this.productList.map(function(item) { //map:'键值对'
                _this.$set(item, 'select', true) //往item添加select属性，默认为true
            })
        }
    })
    </script>
</body>

</html>